*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 125%;
    font-family: 'DM Sans', sans-serif;

    --font-size-1: 2.25rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: 0.75rem;

    --color-blue-1: #1c6cf9;
    --color-blue-2: #33489d;
    --color-blue-3: #141e41;


    --color-pink-1: #f42771;

    --color-black-1: #181818;
    --color-black-2: #2c2c2c;

}

p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;  /* mais fino que o normal */
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
  margin-bottom: 1rem;
}

